/*媒体查询*/
@media screen and (max-width:768px){
  .navbar-custom{
  		background: url(../images/navbar-bg-phone.png);
	    height: 55px;
  }
  .navbar-brand-custom{
  	margin-top: 8px !important;
	margin-left: 30px !important; 
	background: url(../images/logo-phone.png) no-repeat;
  }
  .sidebar{
    position: static;
    margin-top: 120px;

  }
  .pic{
  display: block;
  width: 28px;
  height: 28px;
  margin-bottom: 5px;
  color: #acb4b8;
  }
  .ppt{
    margin-top: 155px;
  }
}